* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
}

/*agregue if*/
body {
  background-color: none;
}

/*map*/
/*bucle*/
.btn--Paseosenlancha {
  color: #55acee;
}

.btn--AlquilerdeKayak {
  color: red;
}

.btn--Excursionesdepesca {
  color: green;
}

.btn--Excursiondeturismoaventura {
  color: yellow;
}

.btn--Visitafabricacervezaartesanal {
  color: orange;
}

/*map get*/
.button i {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  align-content: center;
  width: 150px;
  height: 150px;
}

i.fa-brands fa-whatsapp {
  fill: #DDB771;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-left: 30px;
  margin: auto;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-decoration: #DDB771;
  background-color: green;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border-color: #DDB771;
  border-style: double;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.btn--twitter {
  color: rgb(83, 186, 251);
}

.btn--instagram {
  color: violet;
}

.btn--send-mail {
  color: brown;
}

.whatsapp-icon {
  justify-content: center;
}

.textogrande {
  font-family: "Boogaloo", cursive;
  width: 400px;
  font-size: large;
  font-weight: bolder;
  color: #DDB771;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #0B6E4F;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  color: rgb(175, 79, 1);
  width: 320px;
  background-color: #0B6E4F;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: first baseline;
  padding: 2px;
  font-family: "Lucida Sans", cursive;
  color: #DDB771;
  size: 50px;
}

.fondo {
  display: flex;
  background-image: url(../imagenes/HAMAY/COMPLEJO/Vasantarelli-web-42.jpg);
  width: 320px;
}

.footer {
  display: flex;
  background-color: #0B6E4F;
}

footer {
  display: flex;
  justify-content: center;
}

#orientacion {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

aside {
  background-color: #0B6E4F;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
aside img {
  margin-left: 25px;
}
aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 2px;
}
aside p {
  font-size: 12px;
}
aside p2 {
  margin-left: 2px;
  font-size: 15px;
}

.disponibilidad img {
  width: 50px;
  display: flex;
}

a.contacto:hover {
  color: white;
}

.contacto {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #DDB771;
  display: flex;
  justify-content: center;
}

.mapa {
  width: 320px;
  display: flex;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-around;
  margin: 2px;
}

.galeria img {
  width: 150px;
  height: 100px;
}

.listactividades {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: large;
  line-height: 80px;
  justify-content: center;
}

.texto, .textomediano {
  font-family: "boogaloo" cursive;
  display: flex;
  margin: 2px;
  padding: 2px;
  background-color: #073b3a;
  align-items: center;
  font-size: xx-small;
  justify-content: center;
}

.textomediano {
  font-size: large;
}

#tarjetas {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descripcion {
  display: flex;
  justify-content: center;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  opacity: 70%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: double;
  background-color: bisque;
  width: 300px;
  margin-left: 10px;
}

@media (min-width: 992px) {
  body {
    background-color: none;
  }
  /*map*/
  /*bucle*/
  .btn--Paseosenlancha {
    color: #55acee;
  }
  .btn--AlquilerdeKayak {
    color: red;
  }
  .btn--Excursionesdepesca {
    color: green;
  }
  .btn--Excursiondeturismoaventura {
    color: yellow;
  }
  .btn--Visitafabricacervezaartesanal {
    color: orange;
  }
  .button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
  }
  .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color: #DDB771;
    border-style: double;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }
  .whatsapp-icon {
    justify-content: center;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    color: rgb(175, 79, 1);
    width: 100vw;
    height: auto;
    background-color: #0B6E4F;
  }
  .header img {
    display: flex;
    justify-content: flex-start;
    width: 170px;
    height: 170px;
  }
  .textogrande {
    font-family: "Boogaloo", cursive;
    width: 1000px;
    font-size: 50px;
    font-weight: bolder;
    color: #DDB771;
    margin-left: 20px;
  }
  h1 {
    font-size: 20px;
    margin: 5px;
    justify-content: center;
  }
  aside {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to bottom, green, darkgoldenrod);
    align-items: center;
  }
  aside ul {
    font-size: large;
  }
  aside ul .lista1 {
    list-style-type: none;
    font-size: large;
  }
  aside ul .lista2 {
    list-style-type: none;
    font-size: large;
  }
  aside p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-large;
  }
  p2 {
    align-items: center;
    font-size: 35px;
  }
  p2 img {
    width: 400px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    justify-content: center;
    margin: 0 auto;
  }
  .mapa {
    width: 800px;
  }
  .youtube {
    width: 800px;
  }
  .mapayoutube {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .descripcion {
    display: flex;
    width: 1900px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: justify;
    font-size: x-large;
  }
  .contacto {
    display: flex;
    height: 100px;
    font-size: 40px;
    align-items: center;
  }
  #tarjetas {
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  #tarjetas img {
    width: 150px;
    height: 100px;
  }
  .galeria img {
    width: 400px;
    height: 250px;
  }
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  .texto, .textomediano {
    margin: 5px;
    padding: 5px;
    height: 100px;
    background-color: #073b3a;
    align-items: center;
    font-size: x-large;
    font-family: "boogaloo" cursive;
    color: #DDB771;
  }
  .listactividades {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    line-height: 70px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
    font-size: xx-large;
  }
  footer {
    display: flex;
    flex-direction: row;
    width: 1900px;
    justify-content: center;
    background-color: #0B6E4F;
  }
  .fondo {
    display: flex;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    justify-items: center;
  }
  .carousel-item active img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  .carousel-item img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  #carouselExampleControls {
    width: 100%;
    margin: 0 auto;
  }
  .carousel-control-next-icon {
    background-color: #0B6E4F;
  }
  .carousel-control-prev-icon {
    background-color: #0B6E4F;
  }
}

/*# sourceMappingURL=styles.css.map */
