* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: none;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-decoration: #DDB771;
  background-color: green;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border-color: #DDB771;
  border-style: double;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  align-items: center;
  justify-items: center;
}

.textogrande {
  font-family: "Boogaloo", cursive;
  width: 100%;
  font-size: large;
  font-weight: bolder;
  color: #DDB771;
  margin-left: 4%;
}

a {
  text-decoration: none;
  color: #0B6E4F;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: rgb(175, 79, 1);
  width: 100%;
  background-color: #0B6E4F;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: first baseline;
  padding: 5%;
  font-family: "Lucida Sans", cursive;
  font-size: medium;
  color: #DDB771;
}

.fondo {
  display: flex;
  background-image: url(../imagenes/HAMAY/COMPLEJO/Vasantarelli-web-42.jpg);
  width: 100%;
  height: 80vh;
}

.footer {
  display: flex;
  background-color: #0B6E4F;
}

footer {
  display: flex;
  justify-content: center;
}

aside {
  background-color: #0B6E4F;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
aside img {
  margin-left: 20%;
}
aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: small;
  justify-content: center;
  margin: 5px;
  padding: 2px;
}
aside p {
  font-size: 12px;
}
aside p2 {
  margin-left: 2%;
  font-size: 15px;
}

.disponibilidad img {
  width: 50px;
  display: flex;
}

a.contacto:hover {
  color: white;
}

.contacto {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #DDB771;
  display: flex;
  justify-content: center;
}

.mapa {
  width: 100%;
}

.youtube {
  width: 100%;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-around;
  margin: 2px;
}

.galeria img {
  width: 100%;
  height: auto;
}

.texto, .textomediano {
  font-family: "Open sans", sans-serif;
  font-style: italic;
  display: flex;
  margin: 4px;
  padding: 4px;
  background-color: #073b3a;
  align-items: center;
  font-size: small;
  justify-content: center;
}

.textomediano {
  font-size: large;
  color: aliceblue;
}

#tarjetas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

.descripcion {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: cornsilk;
  height: 75vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  opacity: 70%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: double;
  background-color: bisque;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  background-color: rgb(171, 189, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card_img {
  display: flex;
  margin-top: 3%;
  width: 90%;
  height: auto;
}

.card_parrafo {
  display: flex;
  color: black;
  font-size: small;
  font-family: "Open Sans", sans-serif;
  margin-top: 2%;
  text-align: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #DDB771;
}

.button img {
  width: 40px;
  height: 35px;
  margin: 10px;
}

@media (min-width: 992px) {
  body {
    background-color: none;
  }
  .btn--Paseosenlancha {
    color: #55acee;
  }
  .btn--AlquilerdeKayak {
    color: red;
  }
  .btn--Excursionesdepesca {
    color: green;
  }
  .btn--Excursiondeturismoaventura {
    color: yellow;
  }
  .btn--Visitafabricacervezaartesanal {
    color: orange;
  }
  .button {
    display: flex;
    flex-direction: row;
    background-color: #DDB771;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
  }
  .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color: #DDB771;
    border-style: double;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }
  .whatsapp-icon {
    justify-content: center;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    color: rgb(175, 79, 1);
    width: 100vw;
    height: auto;
    background-color: #0B6E4F;
  }
  .header img {
    display: flex;
    justify-content: flex-start;
    width: 170px;
    height: 170px;
  }
  .textogrande {
    font-family: "Boogaloo", cursive;
    display: flex;
    width: 1000px;
    font-size: 50px;
    font-weight: bolder;
    color: #DDB771;
    margin-left: 20px;
  }
  h1 {
    font-size: 20px;
    margin: 5px;
    justify-content: center;
  }
  aside {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to bottom, green, darkgoldenrod);
    align-items: center;
  }
  aside ul {
    font-size: large;
  }
  aside ul .lista1 {
    list-style-type: none;
    font-size: large;
  }
  aside ul .lista2 {
    list-style-type: none;
    font-size: large;
  }
  aside p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-large;
  }
  p2 {
    align-items: center;
    font-size: 35px;
  }
  p2 img {
    width: 400px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    justify-content: center;
    margin: 0 auto;
  }
  .mapa {
    width: 50%;
    border-color: #0B6E4F;
    border-style: solid;
    border-width: 2px;
  }
  .youtube {
    width: 50%;
    border-color: #0B6E4F;
  }
  .mapayoutube {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
  }
  .descripcion {
    display: flex;
    width: 1900px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: justify;
    font-size: x-large;
  }
  .contacto {
    display: flex;
    height: 100px;
    font-size: 40px;
    align-items: center;
  }
  #tarjetas {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  #tarjetas img {
    width: 150px;
    height: 100px;
  }
  .caja_galeria {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #0B6E4F;
    width: 100%;
  }
  .galeria {
    display: flex;
    justify-content: space-around;
  }
  .galeria img {
    display: flex;
    border-color: #DDB771;
    border-style: solid;
    border-radius: 1%;
    margin: 1%;
    width: 30%;
    height: auto;
    transition: 0.5s;
    object-fit: cover;
  }
  .galeria img:hover {
    transform: scale(1.5);
  }
  .texto, .textomediano {
    margin: 5px;
    padding: 5px;
    height: 100px;
    background-color: #073b3a;
    align-items: center;
    font-size: x-large;
    font-family: "boogaloo" cursive;
    color: #DDB771;
  }
  .listactividades {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    line-height: 70px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
    font-size: xx-large;
  }
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #0B6E4F;
  }
  .fondo {
    display: flex;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    justify-items: center;
  }
  .carousel-item active img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  .carousel-item img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  #carouselExampleControls {
    width: 100%;
    margin: 0 auto;
  }
  .carousel-control-next-icon {
    background-color: #0B6E4F;
  }
  .carousel-control-prev-icon {
    background-color: #0B6E4F;
  }
  .caja_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #0B6E4F;
  }
  .card {
    background-color: rgb(171, 189, 197);
    display: flex;
    width: 800px;
    margin-left: 50px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card_img {
    display: flex;
    margin-top: 10px;
    width: 70%;
    height: auto;
  }
  .card_parrafo {
    display: flex;
    color: black;
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    justify-items: center;
    margin-bottom: 3%;
  }
}

/*# sourceMappingURL=styles.css.map */
