*
    {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    }
@import "variables";
/*agregue if*/
$fueraTemporada: sinfondo;

body {
    @if $fueraTemporada == sinfondo {
        background-color: none;}
        @else {
            background-color:#DDB771;
        }
}
/*maps*/
$redes: ( twitter: #55acee,
        instagram: #3a5795,
        send-mail: #C25E30,);
/*bucle*/
@each $red, $color in $redes {
    .btn--#{$red}
            {   color: $color;
                width: 50px;
                height: 30px;
                }
        }
        
i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: aliceblue;
}        
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}     
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: green;
    color:rgb(255, 255, 255);
    border-radius:50px;
    border-color: #DDB771;
    border-style: double;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    justify-content: center;
}
.textogrande
{
    font-family: 'Boogaloo', cursive; 
    width: 400px;
    font-size: large;
    font-weight:bolder;
    color: #DDB771;
    margin-left: 20px;
    }
a {
    text-decoration: none;
    color:#0B6E4F;
}
.header
{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color: rgb(175, 79, 1);
    width: 320px;
    background-color: $color-fondo-header;
}                   
h1 
{
    display: flex;
    text-align: center;
    justify-content: first baseline;
    padding: 2px;
    font-family: 'Lucida Sans', cursive;
    color: #DDB771;
    size: 50px;
    
}
.fondo{
    display: flex;
    background-image: url(../imagenes/HAMAY/COMPLEJO/Vasantarelli-web-42.jpg);
    width: 320px;
    
}  
.footer{
    background-color:#0B6E4F;
    }
footer
{
    display: flex;
    justify-content: center;
}

#orientacion{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
aside
{
    background-color: #0B6E4F;
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
        img{
            margin-left: 25px;
            }
            ul{
                display: flex; 
                flex-direction: column;
                list-style-type: none;
                font-size: 8px;
                justify-content: center;
                align-items: center;
                margin: 5px;
                padding: 2px;
                }
                    p
                    {
                    font-size: 12px;
                    }
                        p2{
                        margin-left: 2px;
                        font-size: 15px;
                        }
}
.disponibilidad img
{
    width: 50px;
    display: flex;    
}
a.contacto:hover
{
    color: white;
}
.contacto
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    background-color: #DDB771;
    display: flex;
    justify-content: center;
}
.mapa 
{
    width: 320px; 
    display: flex;   
    }

.galeria
{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-around;
    margin: 2px;
}
.galeria img
{
    width: 150px; height: 100px;
}
.texto {
    font-family: 'boogaloo' cursive;
    display: flex;
    margin: 2px;
    padding: 2px;
    background-color: $color-fondo-descripcion;
    align-items: center;
    font-size:xx-small;
    justify-content: center;
}

#tarjetas{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form
    {
    display: flex;
    flex-direction: column;
    justify-items: center;
    opacity: 70%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: double;
    background-color: bisque;
    width: 300px;
    margin-left: 10px;
    
}


@media (min-width: 992px)
{  
    $fueraTemporada: normal;
    $temporada: temporada;

    body {
        @if $fueraTemporada == normal {
            background-color: none;}
            @else {
                background-color:#DDB771;
            }}
    
    /*map*/
    $actividades: (Paseosenlancha: #55acee,
                AlquilerdeKayak: red,
                Excursionesdepesca: green,
                Excursiondeturismoaventura: yellow, 
                Visitafabricacervezaartesanal: orange,
);
    /*bucle*/
    @each $actividad, $color in $actividades {
        .btn--#{$actividad}
                {   color: $color;
                    
                    }
            }

/*map get*/
    .p2 {
        $color: map-get ($actividades, Paseosenlancha);
        }

.lista1{
    list-style-type: none;
    font-size: x-large;
}       
/*extend*/ 
.listactividades {
    @extend .lista1 }  

    /*mixin*/
    @mixin nosotros($colorfondo,$ancho, $alto) {
        color: $colorfondo;
        width: $ancho;
        height: $alto;
        }   
    .texto1 {
        @include nosotros(#ddb771, 200px, 400px);
    }
.button{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 5px;
        width:100%;
        height: 150px;
        justify-content: space-evenly;
        }

.whatsapp {
        position:fixed;
        width:60px;
        height:60px;
        background-color: green;
        color:rgb(255, 255, 255);
        border-color: #DDB771;
        border-style:solid;
        font-size:30px;
    }
    
.whatsapp-icon {
        justify-content: center;
        align-items: center;
    }    
.header
    {
    display: flex;
    justify-content: space-evenly;
    color: rgb(175, 79, 1);
    width: 100vw;
    height: auto;
    background-color: $color-fondo-header;
        }
.header img
    {
    display:flex;
    justify-content: flex-start;
    width: 170px;
    height: 170px;
    }
.textogrande
{
    font-family: 'Boogaloo', cursive;
    width: 1000px;
    font-size: 50px;
    font-weight:bolder;
    color: #DDB771;
    margin-left: 20px;
}

h1
{
    font-size: 20px;
    margin: 5px;
    justify-content: center;
}
aside 
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to bottom, green, darkgoldenrod);
    align-items: center;
        ul{
            font-size: large;
                .lista1{
                font-size: large;
                list-style-type: none;
                        }
                .lista2{
                    list-style-type: none;
                    font-size: large;
                        }}
                    p{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 30px;
                        p2{
                        align-items: center;
                        font-size: 25px;
                            img{
                            width: 200px;}
                        }}
}

form
    {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    justify-content: center;
    margin: 0 auto;
    }
.mapa{
    width: 800px;
} 
.youtube {
    width: 800px;
}        
.mapayoutube {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}         
.descripcion
{
    width: 1920px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    list-style-type: none;
    text-align: justify;
    font-size: xx-large;
    align-items: center;
    background-color: #DDB771;
}
.contacto
{
    display: flex;
    height: 100px;    
    font-size: 40px;
    align-items: center;
}
#tarjetas /*cree este id para acomodar las imagenes de tarjetas de credito*/
{
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    flex-direction: row;
    }  
#tarjetas img{
    width: 150px;
    height: 100px;
}
.galeria img
{
    width: 400px;
    height: 250px;
}    
.galeria{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.texto {
margin: 5px;
padding: 5px;
height: 100px;
background-color: $color-fondo-descripcion;
align-items: center;
font-size: large;
font-family: 'boogaloo' cursive;
}
footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #0B6E4F;
}
.fondo /*centre la imagen*/
{
display: flex;
background-repeat: no-repeat;
width: 90%; 
margin: 0 auto;
background-size: cover;
justify-items: center;
}

i {color: green};

#carouselExampleControls{
    width: 1000px;
    margin: 0 auto;
}
.carousel-control-next-icon{
    background-color: #0B6E4F;
}
.carousel-control-prev-icon{
    background-color: #0B6E4F;
}
}